# Making a Geodataframe from Fire location data

In [1]:
#Import the necessary Python moduless
import pandas as pd
import geopandas as gpd
import numpy as np
from geopandas.tools import sjoin
import folium
from folium.plugins import MarkerCluster
from folium import IFrame
import shapely
from shapely.geometry import Point
import unicodedata
import pysal as ps

/opt/conda/lib/python3.6/site-packages/pysal/__init__.py:65: VisibleDeprecationWarning: PySAL's API will be changed on 2018-12-31. The last release made with this API is version 1.14.4. A preview of the next API version is provided in the `pysal` 2.0 prelease candidate. The API changes and a guide on how to change imports is provided at https://pysal.org/about
  ), VisibleDeprecationWarning)

In [2]:
dba = pd.read_csv('../data/vector/fire_archive_V1_2871.csv')

def lookup(s):
    """
    This is an extremely fast approach to datetime parsing.
    For large data, the same dates are often repeated. Rather than
    re-parse these, we store all unique dates, parse them, and
    use a lookup to convert all dates.
    """
    return s.map({date:pd.to_datetime(date) for date in s.unique()})

dba.loc[:,'date']=lookup(dba['acq_date'])

dba['monthday'] = dba['date'].dt.strftime('%j')
dba['fileformate'] = dba['date'].dt.strftime('%Y_%m_%d')
dba['year'] = dba['date'].dt.strftime('%Y')


yearlist=dba.drop_duplicates('year')
yearlist1=yearlist['year'].tolist()

dba

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,date,monthday,fileformate,year
0,30.94264,64.14420,305.9,0.39,0.59,2017-12-01,2213,N,VIIRS,n,1,275.3,1.2,NaN,2017-12-01,335,2017_12_01,2017
1,33.76704,70.33032,315.2,0.72,0.75,2017-12-01,2212,N,VIIRS,n,1,277.7,3.2,NaN,2017-12-01,335,2017_12_01,2017
2,38.79974,64.64509,320.2,0.54,0.51,2017-12-01,2211,N,VIIRS,n,1,272.0,2.3,NaN,2017-12-01,335,2017_12_01,2017
3,12.98457,74.85178,305.5,0.39,0.36,2017-12-01,2037,N,VIIRS,n,1,284.4,1.5,NaN,2017-12-01,335,2017_12_01,2017
4,13.16106,80.28531,337.2,0.47,0.48,2017-12-01,2037,N,VIIRS,n,1,278.0,4.9,NaN,2017-12-01,335,2017_12_01,2017
5,14.62569,75.83141,303.8,0.40,0.37,2017-12-01,2037,N,VIIRS,n,1,286.3,0.5,NaN,2017-12-01,335,2017_12_01,2017
6,15.09222,75.91351,313.7,0.40,0.37,2017-12-01,2037,N,VIIRS,n,1,285.7,1.4,NaN,2017-12-01,335,2017_12_01,2017
7,15.16880,76.37869,302.3,0.42,0.37,2017-12-01,2037,N,VIIRS,n,1,282.4,0.7,NaN,2017-12-01,335,2017_12_01,2017
8,15.13774,76.71426,301.6,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,290.0,0.6,NaN,2017-12-01,335,2017_12_01,2017
9,15.13840,76.71032,305.2,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,290.1,0.6,NaN,2017-12-01,335,2017_12_01,2017
10,15.14880,76.71217,301.7,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,290.0,0.3,NaN,2017-12-01,335,2017_12_01,2017
11,15.16985,76.67129,304.5,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,289.8,0.9,NaN,2017-12-01,335,2017_12_01,2017
12,15.17050,76.66735,304.0,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,290.9,0.9,NaN,2017-12-01,335,2017_12_01,2017
13,15.17245,76.65556,302.7,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,289.9,0.9,NaN,2017-12-01,335,2017_12_01,2017
14,15.17310,76.65161,314.1,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,290.6,0.9,NaN,2017-12-01,335,2017_12_01,2017
15,15.17135,76.68372,305.7,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,290.1,0.9,NaN,2017-12-01,335,2017_12_01,2017
16,15.17591,76.65618,316.2,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,291.5,1.5,NaN,2017-12-01,335,2017_12_01,2017
17,15.17656,76.65225,302.1,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,289.2,1.5,NaN,2017-12-01,335,2017_12_01,2017
18,15.17794,76.65551,310.0,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,290.2,2.0,NaN,2017-12-01,335,2017_12_01,2017
19,15.18352,76.66463,301.8,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,289.4,1.1,NaN,2017-12-01,335,2017_12_01,2017
20,15.18831,76.65739,311.6,0.42,0.38,2017-12-01,2037,N,VIIRS,n,1,291.9,2.1,NaN,2017-12-01,335,2017_12_01,2017
21,15.22366,76.76532,303.9,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,289.1,1.0,NaN,2017-12-01,335,2017_12_01,2017
22,15.22433,76.76137,300.0,0.43,0.38,2017-12-01,2037,N,VIIRS,n,1,289.0,0.9,NaN,2017-12-01,335,2017_12_01,2017
23,15.73131,74.58065,299.1,0.38,0.36,2017-12-01,2037,N,VIIRS,n,1,285.8,0.4,NaN,2017-12-01,335,2017_12_01,2017
24,15.95403,75.09946,338.5,0.39,0.36,2017-12-01,2037,N,VIIRS,n,1,283.5,5.4,NaN,2017-12-01,335,2017_12_01,2017
25,21.36636,81.67731,298.5,0.42,0.45,2017-12-01,2035,N,VIIRS,n,1,278.4,0.7,NaN,2017-12-01,335,2017_12_01,2017
26,21.37741,81.64253,297.8,0.41,0.45,2017-12-01,2035,N,VIIRS,n,1,281.1,1.1,NaN,2017-12-01,335,2017_12_01,2017
27,21.37869,81.68009,299.5,0.42,0.45,2017-12-01,2035,N,VIIRS,n,1,279.4,1.1,NaN,2017-12-01,335,2017_12_01,2017
28,21.38972,81.64526,301.4,0.41,0.45,2017-12-01,2035,N,VIIRS,n,1,281.2,1.4,NaN,2017-12-01,335,2017_12_01,2017
29,20.53391,85.91513,300.8,0.40,0.60,2017-12-01,2035,N,VIIRS,n,1,288.4,0.6,NaN,2017-12-01,335,2017_12_01,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45091,21.38032,83.05342,349.4,0.33,0.55,2017-12-31,703,N,VIIRS,n,1,301.6,3.8,NaN,2017-12-31,365,2017_12_31,2017
45092,21.28367,82.62659,333.0,0.35,0.57,2017-12-31,703,N,VIIRS,n,1,300.2,2.7,NaN,2017-12-31,365,2017_12_31,2017
45093,21.32652,82.87589,331.1,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,299.9,2.2,NaN,2017-12-31,365,2017_12_31,2017
45094,21.33753,82.92720,339.3,0.33,0.56,2017-12-31,703,N,VIIRS,n,1,301.1,2.7,NaN,2017-12-31,365,2017_12_31,2017
45095,21.33821,82.93040,341.2,0.33,0.56,2017-12-31,703,N,VIIRS,n,1,301.6,2.7,NaN,2017-12-31,365,2017_12_31,2017
45096,21.34027,82.94001,333.4,0.33,0.56,2017-12-31,703,N,VIIRS,l,1,303.5,2.5,NaN,2017-12-31,365,2017_12_31,2017
45097,21.34778,82.97510,340.1,0.33,0.55,2017-12-31,703,N,VIIRS,n,1,302.0,2.0,NaN,2017-12-31,365,2017_12_31,2017
45098,21.32353,82.88681,333.5,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,302.0,1.6,NaN,2017-12-31,365,2017_12_31,2017
45099,21.22611,82.48701,336.3,0.36,0.57,2017-12-31,703,N,VIIRS,n,1,299.1,3.3,NaN,2017-12-31,365,2017_12_31,2017
45100,21.31615,82.90204,354.5,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,303.0,4.6,NaN,2017-12-31,365,2017_12_31,2017
45101,23.26689,94.00756,333.5,0.42,0.38,2017-12-31,703,N,VIIRS,n,1,298.1,3.6,NaN,2017-12-31,365,2017_12_31,2017
45102,23.27080,94.03648,325.4,0.42,0.38,2017-12-31,703,N,VIIRS,n,1,297.5,1.1,NaN,2017-12-31,365,2017_12_31,2017
45103,22.21351,87.41691,332.2,0.52,0.42,2017-12-31,703,N,VIIRS,n,1,298.9,3.0,NaN,2017-12-31,365,2017_12_31,2017
45104,21.32451,82.87481,336.3,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,299.5,1.8,NaN,2017-12-31,365,2017_12_31,2017
45105,21.32721,82.88783,330.6,0.34,0.56,2017-12-31,703,N,VIIRS,l,1,302.1,2.3,NaN,2017-12-31,365,2017_12_31,2017
45106,21.33583,82.92948,348.0,0.33,0.56,2017-12-31,703,N,VIIRS,n,1,302.1,2.7,NaN,2017-12-31,365,2017_12_31,2017
45107,21.33649,82.93268,330.6,0.33,0.56,2017-12-31,703,N,VIIRS,n,1,302.3,2.7,NaN,2017-12-31,365,2017_12_31,2017
45108,21.33849,82.94234,329.1,0.33,0.56,2017-12-31,703,N,VIIRS,l,1,302.9,1.4,NaN,2017-12-31,365,2017_12_31,2017
45109,21.31906,82.89990,342.0,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,300.8,5.2,NaN,2017-12-31,365,2017_12_31,2017
45110,23.23759,94.06256,332.9,0.42,0.38,2017-12-31,703,N,VIIRS,n,1,298.3,2.8,NaN,2017-12-31,365,2017_12_31,2017
45111,21.32227,82.96644,339.1,0.33,0.55,2017-12-31,703,N,VIIRS,n,1,302.1,2.3,NaN,2017-12-31,365,2017_12_31,2017
45112,21.04732,81.69804,351.7,0.41,0.60,2017-12-31,703,N,VIIRS,n,1,300.8,5.2,NaN,2017-12-31,365,2017_12_31,2017
45113,21.04817,81.70194,331.5,0.40,0.60,2017-12-31,703,N,VIIRS,n,1,301.1,5.8,NaN,2017-12-31,365,2017_12_31,2017
45114,21.27006,82.76779,353.7,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,300.1,11.7,NaN,2017-12-31,365,2017_12_31,2017
45115,21.27075,82.77105,367.0,0.34,0.56,2017-12-31,703,N,VIIRS,h,1,303.0,11.7,NaN,2017-12-31,365,2017_12_31,2017
45116,21.26493,82.76897,352.7,0.34,0.56,2017-12-31,703,N,VIIRS,n,1,310.9,11.7,NaN,2017-12-31,365,2017_12_31,2017
45117,22.20944,87.62659,332.1,0.51,0.41,2017-12-31,703,N,VIIRS,n,1,299.8,4.5,NaN,2017-12-31,365,2017_12_31,2017
45118,21.26562,82.77224,367.0,0.34,0.56,2017-12-31,703,N,VIIRS,h,1,304.3,11.7,NaN,2017-12-31,365,2017_12_31,2017
45119,21.14771,82.29466,335.9,0.37,0.58,2017-12-31,703,N,VIIRS,n,1,300.2,2.9,NaN,2017-12-31,365,2017_12_31,2017
45120,21.16966,82.39706,367.0,0.36,0.58,2017-12-31,703,N,VIIRS,h,1,301.7,4.7,NaN,2017-12-31,365,2017_12_31,2017

In [3]:
#First create a GeoSeries of crime locations by converting coordinates to Shapely geometry objects
#Specify the coordinate system ESPG4326 which represents the standard WGS84 coordinate system
fire_geo = gpd.GeoSeries(dba.apply(lambda z: Point(z['longitude'], z['latitude']), 1),crs={'init': 'epsg:4326'})

#Create a geodataframe from the pandas dataframe and the geoseries of shapely geometry objects
firepts = gpd.GeoDataFrame(dba.drop(['longitude', 'latitude'], 1), geometry=fire_geo)
print(firepts.head())

   bright_ti4  scan  track    acq_date  acq_time satellite instrument  \
0       305.9  0.39   0.59  2017-12-01      2213         N      VIIRS
1       315.2  0.72   0.75  2017-12-01      2212         N      VIIRS
2       320.2  0.54   0.51  2017-12-01      2211         N      VIIRS
3       305.5  0.39   0.36  2017-12-01      2037         N      VIIRS
4       337.2  0.47   0.48  2017-12-01      2037         N      VIIRS

  confidence  version  bright_ti5  frp  daynight       date monthday  \
0          n        1       275.3  1.2       NaN 2017-12-01      335
1          n        1       277.7  3.2       NaN 2017-12-01      335
2          n        1       272.0  2.3       NaN 2017-12-01      335
3          n        1       284.4  1.5       NaN 2017-12-01      335
4          n        1       278.0  4.9       NaN 2017-12-01      335

  fileformate  year                            geometry
0  2017_12_01  2017            POINT (64.1442 30.94264)
1  2017_12_01  2017           POINT (70.33032 33.76704)
2  2017_12_01  2017           POINT (64.64509 38.79974)
3  2017_12_01  2017  POINT (74.85178000000001 12.98457)
4  2017_12_01  2017           POINT (80.28531 13.16106)

# calculate state level density of fire observation

In [ ]:
#Read tracts shapefile into GeoDataFrame
state_poly = gpd.read_file('India_states.shp')

#Generate Counts of Assaults per Census Tract
#Spatially join census tracts to assaults (after projecting) and then group by Tract FIPS while counting the number of crimes
point_counts = gpd.tools.sjoin(firepts.to_crs(state_poly.crs), state_poly.reset_index()).groupby('censuscode').size()

#Calculate Assault Density, converting square meters to square miles.
#state_poly['firePSqm'] = (point_counts/(state_poly.geometry.area)).fillna(0)
#state_poly = state_poly.reset_index()
#print(state_poly.head())
point_counts=pd.DataFrame(point_counts)
point_counts['censuscode']=point_counts.index
point_counts.columns=['fireCountPSqm','censuscode']

points_poly=pd.merge(state_poly,point_counts,on='censuscode')
points_poly

# Adding chloropleth map layer

In [ ]:
#Create SF basemap specifying map center, zoom level, and using the default OpenStreetMap tiles
fire_map = folium.Map([19.17, 72.98], zoom_start = 12)

def add_choropleth(mapobj, gdf, id_field, value_field, fill_color = 'YlOrRd', fill_opacity = 0.6, 
                    line_opacity = 0.2, num_classes = 5, classifier = 'Fisher_Jenks'):
    #Allow for 3 Pysal map classifiers to display data
    #Generate list of breakpoints using specified classification scheme. List of breakpoint will be input to choropleth function
    if classifier == 'Fisher_Jenks':
        threshold_scale=ps.esda.mapclassify.Fisher_Jenks(gdf[value_field], k = num_classes).bins.tolist()
    if classifier == 'Equal_Interval':
        threshold_scale=ps.esda.mapclassify.Equal_Interval(gdf[value_field], k = num_classes).bins.tolist()
    if classifier == 'Quantiles':
        threshold_scale=ps.esda.mapclassify.Quantiles(gdf[value_field], k = num_classes).bins.tolist()
    
    #Convert the GeoDataFrame to WGS84 coordinate reference system
    gdf_wgs84 = gdf.to_crs({'init': 'epsg:4326'})
    
    #Call Folium choropleth function, specifying the geometry as a the WGS84 dataframe converted to GeoJSON, the data as 
    #the GeoDataFrame, the columns as the user-specified id field and and value field.
    #key_on field refers to the id field within the GeoJSON string
    mapobj.choropleth(gdf_wgs84.to_json(), data = gdf,
                columns = [id_field, value_field], key_on = 'feature.properties.{}'.format(id_field),
                fill_color = fill_color, fill_opacity = fill_opacity, line_opacity = line_opacity,  
                threshold_scale = threshold_scale)
    return mapobj

#Update basemap with choropleth
fire_map =add_choropleth(fire_map,points_poly, 'censuscode','fireCountPSqm')

# Adding point layer

In [ ]:
def add_point_clusters(mapobj, gdf, popup_field_list):
    #Create empty lists to contain the point coordinates and the point pop-up information
    coords, popups = [], [] 
    #Loop through each record in the GeoDataFrame
    for i, row in gdf.iterrows():
        #Append lat and long coordinates to "coords" list
        coords.append([row.geometry.y, row.geometry.x])
        #Create a string of HTML code used in the IFrame popup
        #Join together the fields in "popup_field_list" with a linebreak between them
        label = '<br>'.join([row[field] for field in popup_field_list])
        #Append an IFrame that uses the HTML string to the "popups" list 
        popups.append(IFrame(label, width = 300, height = 100))
        
    #Create a Folium feature group for this layer, since we will be displaying multiple layers
    pt_lyr = folium.FeatureGroup(name = 'pt_lyr')
    
    #Add the clustered points of crime locations and popups to this layer
    pt_lyr.add_children(MarkerCluster(locations = coords, popups = popups))
    
    #Add this point layer to the map object
    mapobj.add_children(pt_lyr)
    return mapobj

#Update choropleth with point clusters
fire_map = add_point_clusters(fire_map,firepts , ['instrument'])

In [ ]:
folium.LayerControl().add_to(fire_map) #Add layer control to toggle on/off
#crime_map.save('sf_assaults.html') #save HTML
fire_map #display map